@import '../utils/_variables';


article {

    position: relative;
    width: 100%;
    margin: 20px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    overflow: hidden;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .fa-heart {
        position: absolute;
        top: 10px;
        left: 10px;
        -webkit-text-stroke: 4px $colorTextPrimary;
        color: $colorGreenSecondary;

    }

    div.article_content {

        padding: 10px;

        h4 {
            margin: 0 auto;
            color: $colorTextPrimary;
        }
    
        p {
            color: $colorTextSecondary;
        }
    }
}