.logo {
    max-width: 140px;
    height: auto;
}

header {
    display: flex;
    background-color: $colorBackgroundSecondary;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}