nav ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    gap: 48px;
}

nav a, .user-icon {
    color: $colorTextSecondary;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    &:hover {
        color: $colorTextSecondary;
        border-bottom: 2px solid $colorTextSecondary;
    }
}

nav {
    display: flex;
    flex: 1 1 50%;
}

.user-icon {
    text-align: center;
    padding-left: 8px;
    display: none;
}


@media screen and (min-width: 768px) {
    nav a {
        font-size: 1.5rem;
    }
    .user-icon {
        display: inline;
    }
}

