$fontPrimary: 'Quicksand';

$colorBackgroundPrimary: #F5F0F0;
$colorBackgroundSecondary: #F3F0E2;
$colorTextPrimary: #6C584C;
$colorTextSecondary: #A98467;
$colorGreenPrimary: #ADC178;
$colorGreenSecondary: #DDE5B6;